:root {
    --font1: 'Open Sans', sans-serif;
    --font2: 'Roboto';
    --colyellow: #d6b160;
    --colblue: #0088a8;
    --col_black1: #3b3c3d;
    --font3:'Exo 2', sans-serif;
    --poppins:'Poppins', sans-serif;
    --jossofin:'Josefin Sans', sans-serif;

}

body{
    background-color: rgb(28, 28, 28);
    
}
main{
    height: 550px;
}
.form{
    color: var(--colyellow);
    font-family: var(--font2);
    width: 30%;
    height: 420px;
    margin: 33%;
    margin-top: 5%;
    padding: 3%;
    display: flex;
    justify-content: center;
    border: 3px solid rgb(0, 0, 232);
    background-color:var(--col_black1);
    border-radius: 15px;
}
.inset{
    color: #3b3c3d;
}
.inputs{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    position: relative;
    width: 68%;
    height: 20px;
    border-radius: 5px;
    padding: 4px;
}
#email{
    width: 80.5%;
}

#comment{
    font-family: var(--font3);
    width: 100%;
    height: 120px;
    padding: 20px;
    border: 3px solid black;
    background-color:var(--colyellow);
    opacity: 90%;
    resize: none;
    border-radius: 15px;
}

.form-btn{
    font-family: var(--font1);
    width: 80px;
    height: 30px;
    background-color: rgb(153, 216, 209);
    color: rgb(0, 0, 255);
    cursor: pointer;
    border-radius: 7px;
}
#submit{
    margin-left: 120px;
}

.form-btn:hover{
    color: white;
    background-color: rgb(4, 115, 145);
}
.rate {
    scale: 150%;
    margin-left:20%;
    
}

.rate a{
    opacity: 50%;
    cursor: pointer;
}
.rate:hover a{
    opacity: 100%;
}
.rate a:hover{
    opacity: 100%;
}
.rate a:hover ~ a{
    opacity: 50%;
}
.rate a.active{
    opacity: 100%;
}

.rating {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    flex-direction: row-reverse;
    position: relative;
    
}
.rating > input {
    display: none;
}


.rating > label {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: auto;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
    transition: .3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}


.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}
.ratingCard {
    max-width: 360px;
    background-color: white;
    width: 100%;
    padding: 30px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.4);
    
}
footer {
    background-color: #24252a;
    height: 10vh;
    padding: 20px;
    width: 100%;
    justify-content: center;
    display: flex;
    white-space: nowrap;
}

footer h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font1);
    color: aliceblue;

}

.footer_link {
    color: #bebebe;
    transition-duration: 1.25s;
}

.footer_link:hover {
    color: var(--colyellow);
    font-size: 20px;

}

.footer_link:active {
    color: #0088a8;
}