@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Exo&family=Exo+2:wght@700;900&family=Fira+Sans+Condensed:wght@700&family=Josefin+Sans&family=Open+Sans:wght@700&family=Oswald:wght@700&family=Poppins:wght@400;500;600;700&family=Roboto&family=Varela+Round&display=swap');

/* Root variables for the fonts and colors */
:root {
    --font1: 'Open Sans', sans-serif;
    --font2: 'Roboto';
    --colyellow: #FECD63;
    --colblue: #0088a8;
    --col_black1: #3b3c3d;
    --font3:'Exo 2', sans-serif;
    --poppins:'Poppins', sans-serif;
    --jossofin:'Josefin Sans', sans-serif;
}

/* Styling for the body and background */
body {
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Styling for the header */
header {
    margin-top: -80px;
}

/* Styling for the container */
.container {
    display: flex;
    align-content: center;
    flex-direction: column;
    max-width: 1800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 80px;
}

/* Styling for the gallery */
.gallery {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    row-gap: 50px;
    column-gap: 30px;
}

/* Styling for gallery items */
.gallery-item {
    width: 350px;
    height: 498px;
    background-color: white;
    padding: 0px 0px 5px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 21px;
    box-shadow: 0px 0px 6px rgb(235, 221, 35);
    transition: 0.2s;
}

/* Hover effect for gallery items */
.gallery-item:hover {
    background-color: #6d6d6d;
    color: rgb(207, 148, 59);
    box-shadow: 0px 0px 6px rgb(255, 255, 255);
    cursor: pointer;
}

/* Styling for the thumb-section */
.thumb-section {
    height: 385px;
    margin-bottom: 5px;
    display: flex;
    justify-items: flex-start;
}

/* Styling for the gallery item images */
.gallery-item img {
    object-fit: cover;
    align-self: start;
    width: 350px;
    height: 374px;
    margin: 0px 0px 10px 0px;
    border-radius: 21px 21px 0px 0px;
    transition: 0.2s;
}

/* Styling for the book details section */
.book-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin-top: -5px;
    line-height: 1.5;
}

/* Styling for the book title */
.book-title {
    margin: 0;
    font-size: 18px;
    font-family: var(--font3);
}

/* Styling for the book author and genre */
.book-author,
.book-genre {
    margin: 5px 0;
    font-size: 14px;
    font-family: var(--font1);
}

/* Styling for book actions (View button) */
.book-actions {
    display: flex;
    width: 100%;
    gap: 10px;
}

/* Styling for the View button */
.View-button {
    margin-bottom: -5px;
    width: 100%;
    padding: 8px 16px;
    background-color: var(--col_black1);
    border: 1px solid rgb(107, 73, 0);
    color: #fff;
    border: none;
    border-radius: 0px 0px 21px 21px;
    font-size: 14px;
    transition: 0.2s;
}

/* Hover effect for the View button */
.View-button:hover {
    background-color: var(--colyellow);
    cursor: pointer;
    color: var(--col_black1);
}

/* Styling for the products-preview section */
.products-preview {
    display: none;
    position: fixed;
    top: 1px; 
    left: 1%;
    min-height: 100vh;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

/* Animation for sliding in the preview */
@keyframes slideIn {
    from {
        transform: translateY(-30%);
        opacity: 0;
        visibility: hidden;
    }
    to {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

/* Styling for responsive adjustments in the products-preview section */
@media (max-width: 768px) {
    .products-preview {
        flex-direction: column;
        padding: 0;
        align-items: center;
    }
}

/* Styling for the products-preview section when active */
.products-preview .preview {
    top: 70px;
    display: none;
    flex-direction: row;
    text-align: center;
    background: rgba(70, 70, 70, 0.95);
    position: fixed;
    margin: 20px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    visibility: hidden;
    z-index: 9999;
    padding: 20px;
    width: 600px;
    height: auto;
    animation-name: slideIn;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

/* Styling for responsive adjustments in the products-preview section  */
@media (max-width: 768px) {
    .products-preview .preview.active {
        justify-content: center;
        align-content: center;
        position: relative;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        padding:1%;
        margin: 0;
    }
    .products-preview .preview .img-section{
        position: absolute;
        width: 98%;
        height: 98%;
        margin: 0;
        padding: 0;
    }
    .products-preview .preview .img-section img{
        width: 98%;
        height: 98%;
        border-radius: 10px;
    }
    .products-preview .preview .info-section {
        width: 98%;
        height: auto;
        position: relative;
        align-self: center;
        margin: 0px;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        padding: 10px;
    }
    .products-preview .preview .info-section h2,
    .products-preview .preview .info-section h3,
    .products-preview .preview .info-section h4 {
        align-self: center;
        text-align: center;
    }
    .products-preview .preview .info-section h4 {
        color: white;
    }
    .text-block {
        margin-top: 160px;
    }
}

/* Styling for the active state of the products-preview section */
.products-preview .preview.active {
    width: 44rem;
    visibility: visible;
    opacity: 1;
    transition: .5s;
    display: flex;
}

/* Styling for the image section within the products-preview */
.img-section {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Styling for the image within the products-preview */
.img-section img {
    height: 580px;
    border-radius: 10px;
}

/* Responsive styling for the image within the products-preview */
@media (min-width: 768px) and (max-width: 1366px) {
    .img-section img {
        height: 475px;
    }
    .products-preview .preview.active {
        width: 45rem;
        height: 33rem;
    }
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .gallery-item {
        width: 276px;
    }
    .gallery-item img {
        width: 276px;
    }
}

/* Styling for the text block in the products-preview */
.text-block {
    display: flex;
    flex-direction: column;
    column-gap: 5px;
}

/* Styling for the info section within the products-preview */
.info-section {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    text-align: left;
    margin-left: 10px;
}

/* Styling for the headers in the info section */
.info-section h2,
.info-section h3,
.info-section h4 {
    font-family: var(--font2);
    font-weight: 700;
}

/* Styling for the book title in the info section */
.info-section h2 {
    margin-top: 9px;
    margin-bottom: 29px;
    color: #FFF;
    font-size: 33px;
    color: #e66700;
    line-height: 31px;
    text-align: center;
}

/* Styling for the book author in the info section */
.info-section h3 {
    color: coral;
    font-size: 19px;
    margin-bottom: 17px;
    margin-top: -14px;
}

/* Styling for the genre in the info section */
.info-section h3 span {
    color: rgb(255, 255, 255);
}

/* Styling for other book details in the info section */
.info-section h4 {
    color: #afafaf;
    font-size: 16px;
    line-height: 19px;
}

/* Styling for the close button */
.close {
    align-self: flex-end;
}

/* Styling for the close button icon */
.close-button {
    align-self: flex-end;
    width: 30px;
    height: 30px;
    background-color: transparent;
    mix-blend-mode: luminosity;
    background-image: url(../images/closebutton.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

/* Hover effect for the close button */
.close-button:hover {
    mix-blend-mode: normal;
}

/* Styling for the products-preview section at the bottom */
.products-preview {
    bottom: 20px;
}

/* Styling for mypage link */
.mypage {
    color: white;
    display: block;
    font-size: 20px;
}

/* Styling for other links */
.link {
    color: white;
}


/* Stylings for the footer heading */
footer h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font1);
    color: aliceblue;
  
  }
  /*This is the styling for footer links */
  .footer_link {
    color: #bebebe;
    transition-duration: 1.25s;
  }
  /* This depicts tyling for footer links on hover */
  .footer_link:hover {
    color: var(--colyellow);
    font-size: 20px;
  
  }
  /* This is the styling for footer links when active */
  .footer_link:active {
    color: #0088a8;
  }

  footer {
    background-color: #24252a;
    height: 10vh;
    padding: 20px;
    width: 100%;
    justify-content: center;
    display: flex;
    white-space: nowrap;
}