@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Exo&family=Exo+2:wght@700;900&family=Fira+Sans+Condensed:wght@700&family=Josefin+Sans&family=Open+Sans:wght@700&family=Oswald:wght@700&family=Poppins:wght@400;500;600;700&family=Roboto&family=Varela+Round&display=swap');

/* Root variables for the fonts and colors */
:root {
    --font1: 'Open Sans', sans-serif;
    --font2: 'Roboto';
    --colyellow: #FECD63;
    --colblue: #0088a8;
    --col_black1: #3b3c3d;
    --font3:'Exo 2', sans-serif;
    --poppins:'Poppins', sans-serif;
    --jossofin:'Josefin Sans', sans-serif;

}
/* Global styles for all the elements */
* {
    border: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Stylings for the .headDivision class */
.headDivision{
    padding-top: 9vh;
    background-color: black;
    height:100vh;
    display: flex;
    flex-direction: row;
}
/* Stylings for the .namePane class */
.namePane{
    height: 91vh;
    width:60%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--poppins);
    font-size: 90%;
}
/* Stylings for the .imagePane class */
.imagePane{
    height:91vh;
    width:40%;
    background-color: var(--col_black1);
    display: flex;
    align-items: center;
    justify-content: center;
   
}
/* Stylings for the .IntroPane class */
.IntroPane{
    background-color: #000000;
    height: 130%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
/* Stylings for the .nameHeading class */
.nameHeading{
    font-size: 75px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    width: 0;
    animation: typing 2.5s steps(30, end) forwards, blinking 2s infinite;
}
/* Stylings for the .greetings class */
.greetings{
    margin-top: -10vh;
    font-size: 100px;
}
/* This is the styling for .taskPane class */
.taskPane{
    padding-top: 10vh;
    background-color: var(--col_black1);
    width: 95%;
    height: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    padding-bottom: 10vh;
}
/* This is the styling for .task class */
.task{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
}
/* Stylings for the h2 in .task class */
.task h2{
  align-self: center;
  color: azure;
  font-size: 40px;
  font-family: var(--poppins);

}
/* Styling for the images within .task class */
.task img{
    border-radius: 3px;
}
/* This depicts styling for .AboutUsPageHeader class */
.AboutUsPageHeader{
    margin-top: 5vh;
}


/* These are Keyframes for the typing animation */
@keyframes typing {
    from { width: -1 }
    to { width: 90% }
  }

/* These are keyframes for the blinking animation */
  @keyframes blinking {
    0% {border-right-color: transparent}
    50% {border-right-color: white}
    100% {border-right-color: transparent}
}
/* Stylings for the .studentRole class */
.studentRole{
    padding-top: 10vh;
    font-size: 60px;
    font-style: var(--font2);
    color: black;
}
/* Stylings for the .IntroPaneHeading class */
.IntroPaneHeading{
    color: var(--colyellow);
    font-size: 70px;
    font-family: var(--jossofin);
}
/* Stylings for the .getInTouch class */
.getInTouch{
    width:50%;
    background-color: var(--col_black1);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height:100vh;
}
/* Stylings for the .contactMe class */
.contactMe{
    width: 50%;
    background-color: #000000;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5vh;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height:100vh;
    padding-top: 5vh;
}
/*This is the styling for .ContactForm class */
.ContactForm{
    display: flex;
    flex-direction: row;
    height:80vh;
    width: 100%;
    padding-right:2vw;
    padding-top: 4vh;
    padding-left: 2vw;
    padding-bottom: 4vh;
    color: aliceblue;
    font-family: var(--jossofin);
}


/* Stylings for the .personalImage class */
.personalImage {
    height: 90%;
    width: 75%;
    border-radius: 20px;
    animation: fade-in-scale 1.5s 1 forwards; /* 'forwards' keeps the final state of the animation */
    opacity: 0;
    transform: scale(0.9); /* Slightly scale down the image initially */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    overflow: hidden; /* Hide any overflowing content within the container */
    cursor: pointer;
}

/* Define the @keyframes animation for fade-in and scale-up */
@keyframes fade-in-scale {
    to {
        opacity: 1;
        transform: scale(1); /* At the end of the animation, the image will have its original scale */
    }
}
/* Styling for the .ContactForm class */
.ContactForm{
    background-color: aliceblue;
    height:110vh;
    
}

/* Stylings for the footer */
footer {
    background-color: #24252a;
    height: 10vh;
    padding: 20px;
    width: 100%;
    justify-content: center;
    display: flex;
    white-space: nowrap;
}
/* Stylings for the footer heading */
footer h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font1);
    color: aliceblue;

}
/*This is the styling for footer links */
.footer_link {
    color: #bebebe;
    transition-duration: 1.25s;
}
/* This depicts tyling for footer links on hover */
.footer_link:hover {
    color: var(--colyellow);
    font-size: 20px;

}
/* This is the styling for footer links when active */
.footer_link:active {
    color: #0088a8;
}
/* Styling for the .info class */
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* This is the styling for .field class */
.field{
    height: 40px;
    border-radius: 10px;
}
/* Stylings for the .detailheading class */
.detailheading{
    font-size: 23px;
}
/* Stylings for the .subject class */
.subject{
    width: 100%;
}
/* This depicts styling for .formMassage class */
.formMassage{
    width: 70%;
}
/* Styling to .MassgeArea class */
.MassgeArea{
    resize: none;
    width:100%;
    border-radius: 10px;
    padding: 5px;
    height: 40vh;
    font-size: 17px;
}

.field{
    font-size: 17px;
}

.formMassage{
    margin-top: 5vh;
    gap:1.7vh;
}
/* Styling regarding the .submitButton class */
.submitButton{
    margin-top: 10px;
    width:13vw;
    height: 8vh;
    border-radius: 10px;
    background-color: var(--colyellow);
    font-size: 17px;
    font-style: var(--poppins);
    font-weight: bold;
    cursor: pointer;
}
/* Stylings for the .submitButton class on hover */
.submitButton:hover{
    background-color: var(--colblue);
    color: antiquewhite;
}
/* This shows the styling for .getInTouch class heading */
.getInTouch h1{
    margin-top: 3vh;
    font-family: var(--jossofin);
    display: flex;
    align-self: flex-start;
    margin-left: 4vw;
    margin-bottom: -5vh;
}
/* This is for styling to .formMassage class */
.formMassage{
    display:flex;
    align-self: flex-start;
    flex-direction: column;
    margin-left: 4vw;
    width:37vw;
    margin-top: 6vh;
}
/* Stylings for the .detailslot class */
.detailslot{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4vh;
    margin-left: 5vw;
    gap:2vw;
}
/* This is for styling for .detailimg class */
.detailimg{
    border-radius: 10000px;
    width:70px;
    height:70px;
}
/* Styling for the .fullForm class */
.fullForm{
    background-color: aliceblue;
}
/* This is for the styling for .headingContact class */
.headingContact{
    align-self: flex-start;
    color:aliceblue;
    margin-left: 5vw;
    margin-top: -2vh;
    font-family: var(--jossofin);
    font-size: 35px;
    margin-bottom: 5vh;
}
/* Stylings for the .buttonApp class */
.buttonApp{
    margin-top: 5vh;
    height: 10vh;
    width: 10vh;
    border-radius: 20px;
    cursor: pointer;
    background-color: black;
}
/* Stylings for the .buttonApp class on hover */
.buttonApp:hover{
    background-color: white;
}
/* Styling regarding .imgApp class */
.imgApp{
    height: 100%;
    width:100%;
}
/* Stylings for the .linkApp class */
.linkApp{
    text-decoration: none;
}
/* This lines shows tylings for .appButton class */
.appButton{
    margin-top: 4.5vh;
    display: flex;
    gap: 3vw;
    margin-left: 5vw;
}
/* This depicts styling for .link class */

.link{
    text-decoration: none;
    font-family: var(--poppins);
    color: white;
}
/* This shows styling to the .link class on hover */
.link:hover{
    color: var(--colblue);
}
/* Styling for the .detailslot h2 class */
.detailslot h2{
    font-family: var(--poppins);
}

/* This shows the styling for .contactMaindiv class */
.contactMaindiv{
    margin-left: -10vw;
}
/* Styling for the .fb class */
.fb{
    background-color: white;
}
/* Styling for the .fb class on hover */
.fb:hover{
    background-color: #cec8c8;
}
/* This is for the styling for #Name.field class */
#Name.field{
    width:18vw;
}
/* This is for the styling for #Email.field class */
#Email.field{
    width:18vw;
}
/* Styling for the label element */
label{
    font-size: 18px;
    font-family: var(--poppins);
}
/* Stylings for the .imageTask class */
.imageTask{
    border-radius: 10px;
    transition-duration: 1.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}
/* This shows the styling for .imageTask class on hover */
.imageTask:hover{
    transform: scale(1.05);
}
/* Media query for the screens which comes with max-width: 1366px */
@media screen and (max-width:1366px) {
       /* Adjustment of the layout for smaller screens */
    .headDivision{
        display: flex;
        flex-direction: column;
        width:100vw;
    }

    .imagePane{
        width: 100vw;
    }

    .namePane{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nameHeading{
        font-size: 60px;
    }

    .taskPane{
        margin-top: 3vh;
    }

    .IntroPaneHeading{
        margin-top: 26vh;
    }

    .ContactForm{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        gap: 6vh;
        white-space: nowrap;
    }

    .getInTouch{
        width: 100%;
        border-radius: 10px;
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contactMe{
        width:100%;
        border-radius: 10px;
        white-space: nowrap;
    }


    .formMassage{
        align-self: center;
        width: 60%;
        margin-top: 6vh;
    }

    .info{
        display: flex;
        flex-direction: column;
        gap:4vh;
        width: 100%;
    }

    #Name.field{
        width: 100%;
    }

    #Email.field{
        width: 100%;
    }

    .headingGetInTouch{
        padding-left: 30vw;
    }

    .submitButton{
        display: flex;
        align-self: center;
        width: 50%;
        height:60px;
        align-items: center;
        justify-content: center;
    }

   footer{
    margin-top: 80vh;
   }

   .headingContact{
    display: flex;
    align-self: center;
   }

   .contactMaindiv{
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .appButton{
    align-self: center;
   }

   .detailslot{
    display: flex;
    align-self: flex-start;
   }
   .imgApp{
    width: 70px;
    height: 70px;
   }

   .buttonApp{
    width: 70px;
    height: 70px;
   }

   .namePane{
    padding-top: 20vh;
   }

   .IntroPaneHeading{
    margin-top: 50vh;
    margin-bottom: -30vh;
    margin-top: -2;
}

.taskPane{
    margin-top: 30vh;
}




}
/* This is for the media query of the screens with max-width: 955px */
@media screen and (max-width:955px) {
     /* Adjusting layout to the smaller screens */
    .IntroPaneHeading{
        margin-top: 34vh;
        margin-bottom: -30vh;
        margin-top: -2;
    }
    
    .taskPane{
        height: 80%;
        
    }

    .IntroPane{
        height: 160vh;
    }
    
   .namePane{
      padding-left: 10vw;
   }

   .greetings{
    margin-left: -10vw;
   }

}

/* Media query for the screens with max-width: 826px */
@media screen and (max-width:826px) {
      /* Thus is for the adjusting layout for smaller screens */
    .formMassage{
        width: 75%;
    }

    footer{
        margin-top: 70vh;
    }

}
/* Media query to the screens with max-width: 527px */
@media screen and (max-width:527px) {
     /* Adjustment layout for the smaller screens */
    .detailslot{
        display: flex;
        flex-direction: column;
        margin-left: 10vw;
    }

    .contactMaindiv{
        display: flex;
        justify-content: center;
    }

    footer{
        margin-top: 90vh;
    }

    .phone{
        margin-left: 26vw;
    }

    .IntroPane{
      height: 120vh;
      padding-top: 60vh;
    }

    .IntroPaneHeading{
        margin-top: -30vh;
        font-size: 45px;
        margin-bottom: 4vh;
    }

    .taskPane{
        height: 70vh;
        margin-top: -5vh;
    }



}



