@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Exo&family=Exo+2:wght@700;900&family=Fira+Sans+Condensed:wght@700&family=Josefin+Sans&family=Open+Sans:wght@700&family=Oswald:wght@700&family=Poppins:wght@400;500;600;700&family=Roboto&family=Varela+Round&display=swap');

/* Root variables for the fonts and colors */
:root {
  --font1: 'Open Sans', sans-serif;
  --font2: 'Roboto';
  --colyellow: #FECD63;
  --colblue: #0088a8;
  --col_black1: #3b3c3d;
  --font3:'Exo 2', sans-serif;
  --poppins:'Poppins', sans-serif;
  --jossofin:'Josefin Sans', sans-serif;

}
 /* Global styles for all the elements */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
 }
 
 body {
    background: var(--colyellow);
  }

  h1{
  font-family: var(--jossofin) !important;
  }

  p{
  font-family: var(--font2) !important;
 }
 
 /* Styling the splash screen image container, centering the image and applying fade-out animation*/
  .splash-screen .image-container {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fade-out 1s ease-in-out forwards;
  }

  /* Styling the image inside the splash screen container */
  .splash-screen .image-container img{
    justify-content: center;
    width: 50%;
    height: 50%;
    border-radius: 50%;
  }
  
  /* Define the "fade-out" keyframe animation to fade out an element */
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  /*Styling the text container*/
  .text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards 1s;
    font-size: 3rem;
    text-align: center;
    
  }
  
  /* Define the "fade-in" keyframe animation to fade in an element*/
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }