*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}
:root {
    --font1: 'Open Sans', sans-serif;
    --font2: 'Roboto';
    --colyellow: #FECD63;
    --colblue: #0088a8;
    --col_black1: #3b3c3d;
    --font3:'Exo 2', sans-serif;
    --poppins:'Poppins', sans-serif;
    --jossofin:'Josefin Sans', sans-serif;

}
body{
    background-color: var(--col_black1);
    height: 600px;
    overflow: hidden;
}
.Instruction{
    font-family: var(--font2);
    background-color:var(--colyellow);
    color: rgb(55, 0, 255);
    width: 80%;
    height: 400px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 11%;
    padding: 2%;
    border-radius: 25px;
    
}
.Instruction h2{
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

.Instruction #quizStart{
    color: rgb(255, 255, 255);
    margin-left: 46%;
    margin-right: 50%;
    margin-top: 3%;
    width: 100px;
    height: 35px;
    border:#e2fe63 2px solid;
    border-radius: 10px;
    background-color: var(--colblue);
    cursor: pointer;
    
}
.Instruction #quizStart:hover{
    color: blue;
    background-color:rgba(211, 16, 16, 0.985);
}
.Instruction.clear{
    opacity: 0;
}

.platform{
    width: 50%;
    height: 180px;
    background-color: var(--colyellow);
    margin-left: 25%;
    text-align: center;
    color: rgb(0, 30, 255);
    padding-top: 2%;
    transform: translate(0%,-150%);
    opacity: 0;
    border-radius: 20px;
    pointer-events: none;
    

}

#Score{
    margin-top: 30px;
}
.platform.active{
    opacity: 1;
    pointer-events: auto;
}

#displayNext{
    width: 15%;
    height: 30px;
    margin-top: 6%;
    border-radius: 10px;
    border:#e2fe63 2px solid;
    background-color: var(--colblue);
}

#displayNext:hover{
    background-color: aquamarine;
    border-color:brown;
}

#close-quiz-btn{
    position: absolute;
    top: 1.5rem; right: 2.5rem;
    font-size: 3rem;
    color: black;
    cursor: pointer;
}

.score{
    width: 50%;
    height: 500px;
    background-color: white;
    font-size: 25px;
    color: rgb(255, 153, 0);
    max-width: 600px;
    margin:100px auto 0;
    border-radius: 10px;
    padding: 30px;
    opacity: 0;
    pointer-events: none;
    transform: translate(0,-120%)scale(0.9);
}
.score.activeScore{
    width: 50%;
    height: 500px;
    background-color: white;
    font-size: 25px;
    color: rgb(255, 153, 0);
    max-width: 600px;
    margin:100px auto 0;
    border-radius: 10px;
    padding: 30px;
    opacity: 1;
    pointer-events: auto;
    transform: translate(0,-138%)scale(0.9);
}
.score .title{
    display: flex;
    border-bottom: 4px solid black;
}
.score img{
    margin-right: 3%;
    margin-bottom: 3%;
}
.score #badge{
    margin-top: 10%;
    font-size: 100px;
    text-align: center;
}
.score #remarks{
    font-size: 25px;
    text-align: center;
    color:black;
    
}
