@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Exo&family=Exo+2:wght@700;900&family=Fira+Sans+Condensed:wght@700&family=Josefin+Sans&family=Open+Sans:wght@700&family=Oswald:wght@700&family=Poppins:wght@400;500;600;700&family=Roboto&family=Varela+Round&display=swap');

/* Root variables for the fonts and colors */
:root {
  --font1: 'Open Sans', sans-serif;
  --font2: 'Roboto';
  --colyellow: #FECD63;
  --colblue: #0088a8;
  --col_black1: #3b3c3d;
  --font3:'Exo 2', sans-serif;
  --poppins:'Poppins', sans-serif;
  --jossofin:'Josefin Sans', sans-serif;
}

/* Global styles for all the elements */
* {
  box-sizing: border-box;
}
/*Sets background image with fixed position*/
  body {
    margin: 0;
    padding: 0;
    background-image: url(../images/bg-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  
/* Styling for form elements and text formatting */
input, select, option {
  font-family: --font1;
  color: var(--col_black1);
  font-size: 14px;
  font-weight: bold;
}

h2 {
  margin: 0;
  font-family: var(--font2);
}

/* Styling for images */
.img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
  opacity: 1;
  mix-blend-mode: multiply;
}

/* Remove focus outline */
:focus {
  outline: none;
}

/* Styling for the main container */
main {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

/* Styling for the inner container */
.inner {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px; /* Set a maximum width for the form container */
  margin-top: 70px;
  padding: 0 30px;
}

/* Styling for the image section within the inner container */
.inner .image {
  position: relative;
  width: 100%;
  max-width: 40%;
  display: flex;
  margin-bottom: 20px; /* Add some spacing between the image and the form */
}

/* Styling for text overlay on images */
.text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font2);
  font-style: normal;
  font-size: 25px;
  line-height: 30px;
  color: var(--colyellow);
}

/* Styling for the application form section within the inner container */
.inner .application {
  max-width: 600px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 8px;
  flex-grow: 1; /* Allow the form to grow and fill the remaining space */
  padding: 10px;
  margin-bottom: 20px; /* Add some spacing at the bottom */
  overflow: hidden;
}

/* Styling for the form elements within the application form */
.inner form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px; /* Adjust the form width to fill the container */
  height: 400px; /* Remove fixed height */
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgb(150, 119, 34);
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Styling for the h2 elements within the inner container */
.inner h2 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 6px;
  color: var(--colyellow);
}

/* Styling for form input and label elements */
.form-wrapper {
  position: relative;
  margin-bottom: 25px; /* Add spacing between form fields */
  margin-right: -45px;
  margin-left: 45px;
}

.input {
  border: 1px solid #DADCE0;
  position: relative;
  display: block;
  width: 80%;
  height: 30px;
  padding-right: 0;
  cursor: pointer;
  border-radius: 7px;
}

/* Styling for input placeholders */
::placeholder {
  color: transparent;
}

.label {
  position: absolute;
  top: 8px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #DADCE0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
  cursor: pointer;
}

select {
  cursor: pointer;
  color: gray;
}

/* Styling for buttons */
button {
  border: none;
  width: 100px;
  height: 50px;
  margin: auto;
  background: var(--colyellow);
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.end {
  display: flex;
  justify-content: flex-end;
}

/* Button hover effect */
button:hover {
  background-color: var(--colyellow);
  transform: translateY(-2px);
}

/* Input focus styling */
.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: var(--colyellow);
}

.input:focus {
  border: 2px solid rgb(224, 170, 21);
}

.input:not(:placeholder-shown) + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

/* Styling for responsive adjustments */
@media (max-width: 768px) {
  .inner .image {
    max-width: 100%;
    max-height: 50%;
  }

  .inner .application {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .inner {
    flex-direction: column;
  }

  .inner .application {
    padding: 10px;
  }

  .inner form {
    padding: 10px;
  }

  .input {
    height: 25px;
  }

  .label {
    top: 5px;
    left: 10px;
    font-size: 14px;
  }

  button {
    height: 40px;
  }
}

/* Styling for specific elements with unique IDs and classes */

/* Styling for step1 container */
#step1 {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 489px;
}

/* Styling for step2 container */
#step2 {
  display: none;
  flex-direction: column;
  height: 500px;
  align-items: center;
  width: 500px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

/* Styling for h4 element within step2 */
#step2 h4 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(128, 94, 0);
  font-family: var(--font1);
}

/* Styling for genre selection section */
.genre-selection {
  padding: 15px;
  border: solid 1px rgba(79, 80, 80, 0.7);
  border-radius: 11px;
  display: grid;
  grid-template-columns: 34% 40% 30%;
  width: 90%;
  height: 70%;
  gap: 1px;
  margin-bottom: 10px;
}

/* Styling for genre selection labels */
.genre-selection label {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Styling for genre selection checkboxes */
.genre-selection input[type="checkbox"] {
  margin-right: 5px;
}

/* Styling for preference section */
.pref {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

/* Styling for preference labels */
.pref label.format,
.Lang_select {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  color: rgb(128, 94, 0);
  font-family: var(--font1);
}

/* Styling for book_type labels */
.book_type label {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  color: var(--col_black1);
  font-family: var(--font2);
}

/* Styling for popup section */
.popup {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

/* Styling for popup box */
.popup .box {
  background-color: rgba(249, 252, 252, 0.7);
  border-radius: 21px;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 320px;
  height: 40%;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  animation: showPopupAnimation 0.3s ease;
}

/* Popup show animation */
@keyframes showPopupAnimation {
  0% { opacity: 0; transform: scale(0.7); }
  100% { opacity: 1; transform: scale(1); }
}

/* Popup hide animation */
@keyframes hidePopupAnimation {
  0% { opacity: 1; transform: scale(1); }
  100% { opacity: 0; transform: scale(0.7); }
}

/* Styling for popup box content */
.box img {
  max-width: 50px;
  border-radius: 25px;
  margin-top: 9px;
}

.box .msg {
  flex: 60%;
  max-width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.msg h4 {
  font-family: var(--font2);
  text-align: center;
  font-size: 15px;
}

/* Styling for close_popup section */
.close_popup {
  flex: 15%;
  height: 20px;
  width: 60%;
  border-radius: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close_popup button {
  border-radius: 21px;
  width: 100%;
  height: 100%;
  transition: 1s;
  font-family: var(--font2);
  font-size: 25px;
}

/* Button hover effect for close_popup */
.close_popup button:hover {
  background-color: var(--colblue);
}

/* Styling for book_type section */
.book_type {
  display: flex;
  justify-content: center;
}

/* Styling for mypage link */
.mypage {
  color: white;
  display: block;
  font-size: 20px;
}

.link {
  color: white;
}

/* Stylings for the footer */
footer {
  background-color: #24252a;
  height: 10vh;
  padding: 20px;
  width: 100%;
  justify-content: center;
  display: flex;
  white-space: nowrap;
}
/* Stylings for the footer heading */
footer h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font1);
  color: aliceblue;

}
/*This is the styling for footer links */
.footer_link {
  color: #bebebe;
  transition-duration: 1.25s;
}
/* This depicts tyling for footer links on hover */
.footer_link:hover {
  color: var(--colyellow);
  font-size: 20px;

}
/* This is the styling for footer links when active */
.footer_link:active {
  color: #0088a8;
}